/* Content-Top */
body{
	
		background-image: url('../images/background.jpg');
		color:#FEFFFF;

	}

	.header{
	
		text-align: center;
		min-height:400px;
		width:100%;
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	}

	.navbar{

		text-align: center;

	}

 /*--content-top--*/
.top-grid i{
	font-size: 2.6em;
	color: #fff;
    border-radius: 100px;
    width: 95px;
    height: 95px;
    text-align: center;
    line-height: 2.2em;
    border: 3px solid #fff;
}

.top-grid {
	text-align: center;
	border:none;
	padding:2em 1em;
	    background-color: #101010;
}
.grid-top{
	position: relative;
	    cursor: pointer;
}
.content-top{
	position:relative;
	padding: 11.5em 0;
}
.content-top1{
	position:absolute;
	z-index: 999;
	top: -6.5%;
}
.top-grid  h3{
	font-size:1.3em;
	
	color:#fff;
	margin:1em 0 0.5em ;
}
.top-grid  p{
	color: #fff;
	line-height: 1.9em;
	font-size: 1em;
}

.grid-top:hover .top-grid i {
    color: #000;
    border: 3px solid #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}